@tailwind base;
@tailwind components;
@tailwind utilities;

#about{
    background-image: url("./compressed.jpg"); 
    background-color: #f1f1f1 ;
    background-size: cover;
    background-repeat: no-repeat;
    padding : 10% 0%;
    background-position-y: center;
}

/* #banner{
    background-color: aqua;
} */

.base-text{
    text-shadow: 1px 1px 10px #fff;
}

.back-to-top-btn{
    position: fixed; 
    width: 100%;
    left: 46%;
    bottom: 60px;
    height: 20px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    color: gray;
 }

 .loader:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    /* border-left: 1.1em solid #0d002b; */
    border-radius: 2%;
    animation: load8 2s infinite linear;
  }
  
  @keyframes load8 {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50%{
        transform:rotate(90deg) scale(2);
    }
    100% {
      transform: rotate(180deg) scale(1);
    }
  }
  /* html, body {
    height: 100%;
  }
  
  body {
    align-items: center;
    background-color: #1D1F20;
    display: flex;
    justify-content: center;
  }
  .loader:empty  {
    animation: rotate 1s infinite;  
    height: 50px;
    width: 50px;
  }
  
  .loader:before,
   .loader:empty {   
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;  
    width: 20px;
  }
   .loader:empty {
    animation: ball1 1s infinite;  
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
  .loader:after, .loader:empty {
    animation: ball2 1s infinite; 
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
  }
  
  @keyframes rotate {
    0% { 
      -webkit-transform: rotate(0deg) scale(0.8); 
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% { 
      -webkit-transform: rotate(360deg) scale(1.2); 
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% { 
      -webkit-transform: rotate(720deg) scale(0.8); 
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }
  
  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #f8b334;
    }
    50% {
      box-shadow: 0 0 0 #f8b334;
      margin-bottom: 0;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #f8b334;
      margin-bottom: 10px;
    }
  }
  
  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
      box-shadow: 0 0 0 #97bf0d;
      margin-top: -20px;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #97bf0d;
      margin-top: 0;
    }
  }   */